.form-valid{
        border: 3px solid greenyellow;
        box-shadow: 0 0 10px greenyellow;
}

.form-invalid{
        border: 3px solid rgb(226, 51, 20);
        box-shadow: 0 0 10px rgb(245, 60, 4);
}

.text-success{
        color:greenyellow;
}

.text-fail{
        color:rgb(236, 42, 7);
}

