/*body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAu8QryaiFeY5Xs66M4SWsYuq1nn_Kont4eg&usqp=CAU");
}.cover1{
    display: inline-block;
    transition: all 5s ease-in-out;
    }
    
.cover1:hover{
    transform: translate(1550px,-600px);
}
.rocket{
    margin-top: 580px;
}*/
