body{
    margin: 10vh;
}
h1{
    text-align: center;
    color:darkslategray ;
    text-shadow: 2px 1px black;
    margin-bottom: 60px;
}
button{
   background-image: linear-gradient(#6c5878,#c06c84);
    border-radius: 13px;
    color: white;
    height: 40px;
    /* width: 100px; */
    margin-left: 200px;
    font-size: large;
    border: solid 1px rgb(5, 55, 129);
    box-shadow: 0 0 8px rgb(17, 16, 17);
}